#App {
  background-color: hsl(240, 50%, 2%);
  height: 100vh;
  color: white;
}
#Scene {
  width: 250px;
  height: 250px;
  position: relative;
  top: calc(100vh / 2 - 125px);
  left: calc(100vw / 2 - 125px);
  perspective: 520px;
}
#Cube {
  position: relative;
  transform-style: preserve-3d;
}
.Face {
  position: absolute;
  background-image: linear-gradient(
    hsla(270, 100%, 20%, 0.05),
    95%,
    hsla(270, 100%, 40%, 0.1)
  );
}

line {
  stroke: hsla(90, 100%, 50%, 0.25);
}
circle {
  stroke-width: 0;
}
