#App {
  background-color: hsl(240, 50%, 95%);
  height: 100vh;
  color: white;
}
#Scene {
  width: 250px;
  height: 250px;
  position: relative;
  top: calc(100vh / 2 - 125px);
  left: calc(100vw / 2 - 125px);
  perspective: 1000px;
}
#Cube {
  position: relative;
  transform-style: preserve-3d;
}
.Face {
  position: absolute;
}
.Face#front {
  transform: rotateY(0deg) translateZ(125px);
}
.Face#left {
  transform: rotateY(-90deg) translateZ(125px);
}
.Face#right {
  transform: rotateY(90deg) translateZ(125px);
}
.Face#back {
  transform: rotateY(180deg) translateZ(125px);
}
.Face#top {
  transform: rotateX(90deg) translateZ(125px);
}
.Face#bottom {
  transform: rotateX(-90deg) translateZ(125px);
}
@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}
#Cube {
  animation: spin 5s linear infinite;
}
svg {
  background-color: hsla(240, 50%, 75%, 0.5);
}

circle,
rect {
  fill: transparent;
}
line,
circle,
rect {
  stroke: hsl(250, 50%, 100%);
}
