#App {
  background-color: hsl(240, 50%, 10%);
  height: 100vh;
  color: white;
}
#Scene {
  width: 250px;
  height: 250px;
  position: relative;
  top: calc(100vh / 2 - 125px);
  left: calc(100vw / 2 - 125px);
  perspective: 500px;
}
#Cube {
  position: relative;
  transform-style: preserve-3d;
}
.Face {
  position: absolute;
}
.Face#front {
  transform: rotateY(0deg) translateZ(125px);
}
.Face#left {
  transform: rotateY(-90deg) translateZ(125px);
}
.Face#right {
  transform: rotateY(90deg) translateZ(125px);
}
.Face#back {
  transform: rotateY(180deg) translateZ(125px);
}
.Face#top {
  transform: rotateX(90deg) translateZ(125px);
}
.Face#bottom {
  transform: rotateX(-90deg) translateZ(125px);
}
@keyframes spin {
  100% {
    transform: rotateY(90deg);
  }
}
#Cube {
  /* animation: spin 5s linear infinite; */
  /* transform: rotateY(22.5deg); */
}
svg {
  background-color: hsla(270, 100%, 50%, 0.1);
}

circle,
rect {
  fill: transparent;
}
line,
circle,
rect {
  stroke: hsla(90, 100%, 50%, 0.5);
}
circle {
  stroke-width: 0;
  fill: hsl(90, 100%, 50%);
}
